<%-include("partials/header")-%>
<%let indexArray = ""%>
<h1 class="display-4">Complete Assigned Contract</h1>

<h2 class="display-4">Contracts open: <%=contractName.length%> </h2>

<div class="container">
    <div class="row">
        <% for( let index = 0; index < contractName.length; index++ ) { %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><%=contractName[index].title%></h5>
                <p class="card-text">Details:<%=contractName[index].reqBody%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">originator: <%=contractName[index].originator%></li>
                <li class="list-group-item">Start Date: <%=contractName[index].startDate%></li>
                <li class="list-group-item">End Date: <%=contractName[index].endDate%></li>
                <li class="list-group-item">Value: <%=contractName[index].value%></li>
            </ul>
            <div class="card-body">
                <form action="/contract/complete/<%=contractName[index]._id%>" method="post">
                    <button type="submit" class="btn btn-primary">Mark Complete</button>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%-include("partials/footer")-%>